{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" novalidate>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are connected as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Disconnect</a>
        </div>
    {% endif %}

    <div class="d-flex align-items-center justify-content-center h-100">
        <section class="articles">
            <h1 class="display-4" style="margin-top:50px;">Log in</h1>
            <label for="inputUsername" style="margin-bottom:10px;">Username</label>
            <input type="text" style="margin-bottom:10px;" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword" style="margin-bottom:10px;">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
        
            <button class="form-control mt-2 mb-3 btn btn-success" type="submit">Connect</button>
        </section>
    </div>

</form>
{% endblock %}
