{% extends 'base.html.twig' %}

{% block title %}{{ formName }} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-center h-100">
        <section class="articles">
            <h1 class="display-4" style="margin-top:50px;">{{ formName }}</h1>
            <div class="form-group" style="user-select: auto;">
                <div>
                    {{ form_start(dataForm) }}
                        {# {{ form_row(dataForm.title) }}
                        {{ form_row(dataForm.content) }}
                        {{ form_row(dataForm.image) }}
                        {{ form_row(dataForm.upload) }}
                        <div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div> #}
                    {{ form_end(dataForm) }}
                </div>
            </div>
        </section>
    </div>

{% endblock %}